body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  margin: 0;
}

.container {
  position: relative;
  width: 600px;
  height: 400px;
}

.bottom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
